/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

ol, ul, li {
	list-style: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* css menu navigation */

.navigation {
    background-color: #5c6bc0;
    padding-bottom: 300px;
    display: none;
}
.icon-close i{
    margin: 64px 0 78px 320px;
}
.navigation ul li a{
    display: block;
    padding: 0 15px 0 30px;
    font-size: 14px;
    font-family: lato;
    color: #fff;
}
.hr1{
    max-width: 100%;
    padding-top: 1px;
    background-color: #fff;
    margin: 18px 15px 18px 30px;
}
.hr2{
    max-width: 100%;
    padding-top: 1px;
    background-color: #fff;
    margin: 18px 15px 0 30px;
}

/* css search */

.search{
    margin: 40px 0 0 0;
    background: #ffffff;
    border-radius: 5px;
    display: none;
    background: none;
}
.input1{
    float: left;
    border: none;
    background: #363e38;
    color: white;
    width: 90%;
}
.input2{
    float: left;    
    border: none;
    background: #6d8072;
    color: #58cd76;
    width: 8%;
}
.input2:hover{
    background: #d78a11;
    color: #bb0e0e;
}
/* WebKit browsers */
::-webkit-input-placeholder {
    color: #ff4700;
}
#pencarian{
    position: relative;
    padding: 10px 0 10px 10px;
    font-size: 20px;
}
#submit{
    padding: 14px 14px 14px 14px;
}

/* css content*/

#container {
    background-color: #f7f9fc;
}

.wrapper {
    max-width: 952px;
    
    box-sizing: border-box;
    margin: auto;
}
.wrapper2 {
    max-width: 758px;
    box-sizing: border-box;
    margin: auto;
}
.wrapper3 {
    max-width: 700px;
    box-sizing: border-box;
    margin: auto;
}

.logo1 {
    float: left;
    position: relative;
    margin: 83px 0 0 0;
    font-size: 42px;
    font-family: lato;
    font-weight: bold;
    font-style: italic;
    color: #333333;
    cursor: pointer;
}
.logo1:hover{
    color: #00cc99; 
}

#container .content {
    clear: right;
}
.menu ul li {
    text-decoration: none;
    float: right;
    margin: 80px 0 0 0;
    padding: 20px 20px  20px 20px;
}
.menu li a{
    font-family: lato;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}
.menu ul li:hover a {
    color: #00cc99;
}
.menu ul li:hover{
    box-shadow: 0px 2px 3px grey;
}
.menu3{
    background: #f5f5f5;
}
.font-awesome i{
    display: none;
}

.content2 {
    margin: 40px 0 0 0;
    background-color: #b18500;
    box-shadow: 0px 0px 35px 1px #ddd;
}
.p1{
    font-family: lato;
    color: #ac3e0e;
    font-size: 40px;
    padding: 60px 0 0 0;
    position: relative;
}
.bold{
    cursor: pointer;
}
.bold:hover{
    color: #00cc99;
}
.p2{
    padding: 30px 0 60px 0;
    font-family: Myriad Pro;
    font-size: 25px;
    color: #bdbf00;  
    cursor: pointer;
}
.p2:hover{
    color: #00cc99;
}

.image {
    margin: 40px 0 0 0;
    background-color: #ffffff;
    box-shadow: 0px 0 35px 1px #ddd;
}

.image2 {
    margin: 40px 0 0 0;
    background-color: #ffffff;
    box-shadow: 0px 0 35px 1px #ddd;
}

.content3 {
    margin: 50px 0 0 0;
    background-color: #b18500;
    box-shadow: 0px 0 35px 1px #ddd;
}
.b1{
    float: right;
    padding: 1% 3%;
    border: none;
    margin: 45px 0 0 0;
    background: #5c6bc0;
    font-weight: bold;
    font-family: lato;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}
.b1:hover{
    background: #363e38;
    color: #ff4700;
}
.p3{
    padding: 50px 0 0 0;
    color: #c2c2c2;
    font-family: lato;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.p3:hover{
    color: #00cc99;
}
.p4{
    padding: 30px 0 0 0;
    font-weight: bold;
    font-size: 40px;
    font-family: lato;
    word-spacing: 2px;
    line-height: 1.2em;
    cursor: pointer;
}
.p4:hover{
    color: #00cc99;
}
.garis1{
    width: 100%;
    padding-top: 1px;
    background-color: #eeeeee;
    margin-top: 43px;
}
.p5{
    padding: 42px 0 0 0;
    font-family: lato;
    font-size: 17px;
    color: #0e672e;
    line-height: 1.5em;
}
.bottom {
    padding: 60px 0 81px 0;
    float: right;
    color: #cacaca;
    word-spacing: 4.5px;
    cursor: pointer;
}
.bottom:hover{
    color: #00cc99;
}

.content4 {
    margin: 50px 0 0 0;
    background-color: #b18500;
    box-shadow: 0px 0 35px 1px #ddd;
}
.b2{
    float: right;
    padding: 1% 3%;
    border: none;
    margin: 45px 0 0 0;
    background: #5c6bc0;
    font-weight: bold;
    font-family: lato;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}
.b2:hover{
    background: #363e38;
    color: #ff4700;
}
.p6{
    padding: 50px 0 0 0;
    color: #c2c2c2;
    font-family: lato;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.p6:hover{
    color: #00cc99;
}
.p7{
    padding: 30px 0 0 0;
    font-weight: bold;
    font-size: 40px;
    font-family: lato;
    word-spacing: 2px;
    line-height: 1.2em;
    cursor: pointer;
}
.p7:hover{
    color: #00cc99;
}
.garis1{
    width: 100%;
    padding-top: 1px;
    background-color: #eeeeee;
    margin-top: 43px;
}
.p8{
    padding: 41px 0 0 0;
    font-size: 25px;
    font-style: italic;
    font-family: lato;
    color: #0e672e;
    line-height: 1.5em;
}
.p9{
    padding: 41px 0 0 0;
    font-size: 25px;
    font-style: italic;
    font-family: lato;
    color: #0e672e;
    line-height: 1.5em;
}
.p10{
    padding: 41px 0 0 0;
    font-size: 25px;
    font-style: italic;
    font-family: lato;
    color: #0e672e;
    line-height: 1.5em;
}
.bottom {
    padding: 60px 0 81px 0;
    float: right;
    color: #cacaca;
    word-spacing: 4.5px;
    cursor: pointer;
}
.bottom:hover{
    color: #00cc99;
}

.footer {
    margin: 141px 0 0 0;
    background: #5c6bc0;
    box-shadow: 0px 10px 35px 0px #969798;
}
.logo2 {
    padding: 65px 0 0 0;
    text-align: center;
    font-size: 36px;
    font-family: lato;
    font-weight: bold;
    font-style: italic;
    color: #475396;
    opacity: 1.3;
    cursor: pointer;
    position: relative;
}
.kostum:hover{
    color: #00cc99;
}
.footer {
    text-align: center;
}
.footer ul{
    display: inline-block;
}
.footer ul li{
    text-align: center;
    float: left;
}
.footer ul li a{
    display: block;
    color: #FFF;
    font-size: 16px;
    font-family: lato;
    font-weight: bold;
    padding: 0 38px;
    margin: 65px 0 0 0;
}
.menu2 li a:hover {
    color: #00cc99;
}
.logo3 li a:hover{
    color: #00cc99;
}
.garis2{
    width: 100%;
    padding-top: 1px;
    background-color: #515da7;
    margin-top: 43px;
}
.garis3{
    width: 100%;
    padding-top: 1px;
    background-color: #515da7;
    margin-top: 43px;
}
.p11{
    padding: 41px 0 0 0;
    line-height: 1.5em; 
    font-family: lato;
    font-size: 13px;
    color: #a9afdb;
}
.p12{
    padding: 40px 0 0 0;
    font-size: 14px;
    font-family: lato;
    color: #a9afdb;
}
.logo3 ul li{
    margin-top: -20px;
    margin-bottom: 80px;
}

/* responsive */

@media only screen and (max-width: 990px) {
    .wrapper {
        margin: 0 15px 0 15px;
    }
    .wrapper2 {
        max-width: 800px;
        box-sizing: border-box;
        margin: auto;
    }
    .wrapper3 {
        max-width: 700px;
        box-sizing: border-box;
        margin: auto;
    }
    .icon-close i{
        margin: 64px 0 78px 650px;
    }
    .p4 .p7{
        font-size: 32px;
    }
    .menu2 i{
        display: none;
    }
    .menu2 ul li a{
        padding-left: 0px;
        display: none;
    }
    .logo3 ul li a{
        padding: 0 24px;
    }
    .logo3 .icon ul li i{
        display: none;
    }
    .navigation{
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    .wrapper {
        margin: 0 15px 0 15px;
    }
    .wrapper2 {
        max-width: 600px;
        box-sizing: border-box;
        margin: auto;
    }
    .wrapper3 {
        max-width: 330px;
        box-sizing: border-box;
        margin: auto;
    }
    .icon-close i{
        margin: 64px 0 78px 650px;
    }
    .p4 .p7{
        font-size: 32px;
    }
    .menu2 i{
        display: none;
    }
    .menu2 ul li a{
        padding-left: 0px;
        display: none;
    }
    .logo3 ul li a{
        padding: 0 24px;
    }
    .logo3 .icon ul li i{
        display: none;
    }
    .navigation{
        display: none;
    }
}

@media only screen and (max-width: 713px){

    .menu li{
        display: none;
    }

    .content ul li a{
        display: none;
    }
    .icon-close i{
        margin: 64px 0 78px 600px;
    }

    .font-awesome li i{
        display: inline-block;
        float: right;
        margin-top: 83px;
        font-size: 42px;
        color: #5c6bc0;
    }
}

@media only screen and (max-width: 690px) {
    .wrapper {
        margin: 0 15px 0 15px;
    }
    .wrapper2 {
        max-width: 600px;
        box-sizing: border-box;
        margin: auto;
    }
    .wrapper3 {
        max-width: 500px;
        box-sizing: border-box;
        margin: auto;
    }
    .content ul li a{
        display: none;
    }
    .menu li{
        display: none;
    }
    .icon-close i{
        margin: 64px 0 78px 570px;
    }
    .font-awesome li i{
        display: inline-block;
        float: right;
        margin-top: 83px;
        font-size: 42px;
        color: #5c6bc0;
    }    
    .p4 .p7{
        font-size: 32px;
    }
    .menu2 i{
        display: none;
    }
    .menu2 ul li a{
        padding-left: 0px;
        display: none;
    }
    .logo3 ul li a{
        padding: 0 24px;
    }
    .logo3 .icon ul li i{
        display: none;
    }
    .navigation{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper {
        margin: 0 15px 0 15px;
    }
    .wrapper2 {
        max-width: 515px;
        box-sizing: border-box;
        margin: auto;
    }
    .wrapper3 {
        max-width: 415px;
        box-sizing: border-box;
        margin: auto;
    }
    .content ul li a{
        display: none;
    }
    .menu li{
        display: none;
    }
    .icon-close i{
        margin: 64px 0 78px 490px;
    }
    .font-awesome li i{
        display: inline-block;
        float: right;
        margin-top: 83px;
        font-size: 42px;
        color: #5c6bc0;
    }    
    .p4 .p7{
        font-size: 32px;
    }
    .menu2 i{
        display: none;
    }
    .menu2 ul li a{
        padding-left: 0px;
        display: none;
    }
    .logo3 ul li a{
        padding: 0 24px;
    }
    .logo3 .icon ul li i{
        display: none;
    }
    .navigation{
        display: none;
    }
}

@media only screen and (max-width: 530px) {
    .wrapper {
        margin: 0 15px 0 15px;
    }
    .wrapper2 {
        max-width: 410px;
        box-sizing: border-box;
        margin: auto;
    }
    .wrapper3 {
        max-width: 330px;
        box-sizing: border-box;
        margin: auto;
    }
    .content ul li a{
        display: none;
    }
    .menu li{
        display: none;
    }
    .icon-close i{
        margin: 64px 0 78px 400px;
    }
    .font-awesome li i{
        display: inline-block;
        float: right;
        margin-top: 83px;
        font-size: 42px;
        color: #5c6bc0;
    }    
    .p4 .p7{
        font-size: 32px;
    }
    .menu2 i{
        display: none;
    }
    .menu2 ul li a{
        padding-left: 0px;
        display: none;
    }
    .logo3 ul li a{
        padding: 0 24px;
    }
    .logo3 .icon ul li i{
        display: none;
    }
    .navigation{
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    .wrapper {
        margin: 0 15px 0 15px;
    }
    .wrapper2 {
        max-width: 350px;
        box-sizing: border-box;
        margin: auto;
    }
    .wrapper3 {
        max-width: 330px;
        box-sizing: border-box;
        margin: auto;
    }
    .content ul li a{
        display: none;
    }
    .menu li{
        display: none;
    }
    .icon-close i{
        margin: 64px 0 78px 310px;
    }
    .font-awesome li i{
        display: inline-block;
        float: right;
        margin-top: 83px;
        font-size: 42px;
        color: #5c6bc0;
    }   
    .p4 .p7{
        font-size: 32px;
    }
    .menu2 i{
        display: none;
    }
    .menu2 ul li a{
        padding-left: 0px;
        display: none;
    }
    .logo3 ul li a{
        padding: 0 24px;
    }
    .logo3 .icon ul li i{
        display: none;
    }
    .navigation{
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .wrapper {
        margin: 0 15px 0 15px;
    }
    .wrapper2 {
        max-width: 300px;
        box-sizing: border-box;
        margin: auto;
    }
    .wrapper3 {
        max-width: 280px;
        box-sizing: border-box;
        margin: auto;
    }
    .content ul li a{
        display: none;
    }
    .menu li{
        display: none;
    }
    .icon-close i{
        margin: 64px 0 78px 310px;
    }
    .font-awesome li i{
        display: inline-block;
        float: right;
        margin-top: 83px;
        font-size: 42px;
        color: #5c6bc0;
    }
    .p4{
        font-size: 30px;
    }
    .menu2 i{
        display: none;
    }
    .menu2 ul li a{
        padding-left: 0px;
        display: none;
    }
    .logo3 ul li a{
        padding: 0 24px;
    }
    .logo3 .icon ul li i{
        display: none;
    }
    .navigation{
        display: none;
    }
}

@media only screen and (max-width: 381px) {
    .wrapper {
        margin: 0 15px 0 15px;
    }
    .wrapper2 {
        max-width: 300px;
        box-sizing: border-box;
        margin: auto;
    }
    .wrapper3 {
        max-width: 280px;
        box-sizing: border-box;
        margin: auto;
    }
    .content ul li a{
        display: none;
    }
    .menu li{
        display: none;
    }
    .icon-close i{
        margin: 64px 0 78px 285px;
    }
    .font-awesome li i{
        display: inline-block;
        float: right;
        margin-top: 83px;
        font-size: 42px;
        color: #5c6bc0;
    }  
    .p4{
        font-size: 30px;
    }
    .menu2 i{
        display: none;
    }
    .menu2 ul li a{
        padding-left: 0px;
        display: none;
    }
    .logo3 ul li a{
        padding: 0 24px;
    }
    .logo3 .icon ul li i{
        display: none;
    }
    .navigation{
        display: none;
    }
}

    @media only screen and (max-width: 365px) {
    .wrapper {
        margin: 0 15px 0 15px;
    }
    .wrapper2 {
        max-width: 300px;
        box-sizing: border-box;
        margin: auto;
    }
    .wrapper3 {
        max-width: 280px;
        box-sizing: border-box;
        margin: auto;
    }
    .content ul li a{
        display: none;
    }
    .icon-close i{
        margin: 64px 0 78px 260px;
    }
    .font-awesome li i{
        display: inline-block;
        float: right;
        margin-top: 83px;
        font-size: 42px;
        color: #5c6bc0;
    }
    .p4{
        font-size: 30px;
    } 
    .p7{
        font-size: 32px;
    }
    .menu2 i{
        display: none;
    }
    .menu2 ul li a{
        padding-left: 0px;
        display: none;
    }
    .logo3 ul li a{
        padding: 0 20px;
    }
    .logo3 .icon ul li i{
        display: none;
    }
    .navigation{
        display: none;
    }
}

 @media only screen and (max-width: 349px) {
    .wrapper {
        margin: 0 15px 0 15px;
    }
    .wrapper2 {
        max-width: 280px;
        box-sizing: border-box;
        margin: auto;
    }
    .wrapper3 {
        max-width: 260px;
        box-sizing: border-box;
        margin: auto;
    }
    .content ul li a{
        display: none;
    }
    .icon-close i{
        margin: 64px 0 78px 260px;
    }
    .font-awesome li i{
        display: inline-block;
        float: right;
        margin-top: 83px;
        font-size: 42px;
        color: #5c6bc0;
    }
    .p1{
        font-size: 30px;
    }
    .p4{
        font-size: 30px;
    }
    .p7{
        font-size: 32px;
    }
    .bottom2{
        padding: 0 0 81px 0;
        float: left;
    }
    .menu2 i{
        display: none;
    }
    .menu2 ul li a{
        padding-left: 0px;
        display: none;
    }
    .logo3 ul li a{
        padding: 0 20px;
    }
    .logo3 .icon ul li i{
        display: none;
    }
    .navigation{
        display: none;
    }
}